{% load static %} <!--loads static css file from static/data/main.css-->

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'data/main.css' %}">

    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">

	{% if title %}
		<title>{{ title }}</title>
	{% else %}
		<title>{% block title%}{% endblock title %}</title>
	{% endif %}
</head>
<body class="d-flex flex-column min-vh-100{% if request.GET.embed == '1' %} embed-mode{% endif %}" data-embed-mode="{% if request.GET.embed == '1' %}1{% else %}0{% endif %}">
	{% if request.GET.embed != '1' %}
	<header class="site-header">
	  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top"><!-- was fixed-top-->
	    <div class="container">
	      <a class="navbar-brand mr-4" href="{% url 'dttg-home' %}"><img src="{% get_media_prefix %}/site_media/Logo.png" alt="Logo" style="width:50px;"></a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarToggle">
	        <div class="navbar-nav mr-auto">
	          <a class="nav-item nav-link font-weight-bold" href="{% url 'dttg-home' %}">HOME</a>
	          <a class="nav-item nav-link font-weight-bold" href="{% url 'dttg-about' %}">ABOUT</a>
	        </div>
	        <!-- Navbar Right Side -->
	        <div class="navbar-nav">
	          <!-- <a class="nav-item nav-link" href="#">Login</a>-->
	          <!-- <a class="nav-item nav-link" href="#">Register</a>-->
	          <div class="dropdown">
				  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Database
				  </button>
				  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
				    <a class="dropdown-item" href="{% url 'data-table-simple' %}">Search</a>
				    <a class="dropdown-item" href="{% url 'data-overview' %}">Data entries</a>
				    <a class="dropdown-item" href="{% url 'artists-overview' %}">Artists</a>
				    <a class="dropdown-item" href="{% url 'city-of-execution-overview' %}">Places of execution</a>
				    <a class="dropdown-item" href="{% url 'museums-overview' %}">Museums</a>
				    <a class="dropdown-item" href="{% url 'database-info' %}">Documentation</a>
				  </div>
				</div>
	        </div>
	      </div>
	    </div>
	  </nav>
	</header>
	{% endif %}
	<main role="main" class="{% block main_class %}{% if request.GET.embed == '1' %}container-fluid px-2{% else %}container{% endif %}{% endblock %}">
	  <div class="row">
	    <div class="col-md-12">
	      {% block content %}{% endblock %}
	    </div>
	  </div>
	</main>

	<div class="modal fade" id="mobileNoticeModal" tabindex="-1" role="dialog" aria-labelledby="mobileNoticeModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="mobileNoticeModalLabel">Desktop recommended</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="mobileNoticeClose">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        This database is optimized for desktop use. You can continue on mobile, but some views and tables may be less comfortable to use.
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal" id="mobileNoticeContinue">Continue</button>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
		$(document).ready(function(){
		  $('[data-toggle="tooltip"]').tooltip();

		  $('[data-swatch-hex]').each(function(){
			var swatchHex = $(this).attr('data-swatch-hex');
			if (swatchHex) {
			  $(this).css('background-color', swatchHex);
			}
		  });

		  var isEmbedMode = document.body.getAttribute('data-embed-mode') === '1';

		  var mobileNoticeKey = 'dttg_mobile_notice_dismissed_v1';
		  var isSmallScreen = window.matchMedia('(max-width: 991.98px)').matches;
		  var isMobileUserAgent = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
		  var shouldShowMobileNotice = !isEmbedMode && (isSmallScreen || isMobileUserAgent) && !localStorage.getItem(mobileNoticeKey);

		  if (shouldShowMobileNotice) {
			$('#mobileNoticeModal').modal('show');
		  }

		  $('#mobileNoticeContinue, #mobileNoticeClose').on('click', function(){
			this.blur();
			localStorage.setItem(mobileNoticeKey, '1');
		  });

		  $('#mobileNoticeModal').on('hide.bs.modal', function(){
			if (this.contains(document.activeElement)) {
			  document.activeElement.blur();
			}
		  });

		  $('#mobileNoticeModal').on('hidden.bs.modal', function(){
			localStorage.setItem(mobileNoticeKey, '1');
		  });

		  if (isEmbedMode) {
			$('a[href]').each(function(){
			  var href = $(this).attr('href');
			  if (!href || href.startsWith('#') || href.startsWith('mailto:') || href.startsWith('tel:') || href.startsWith('javascript:')) {
				return;
			  }

			  var targetUrl;
			  try {
				targetUrl = new URL(href, window.location.origin);
			  } catch (e) {
				return;
			  }

			  if (targetUrl.origin !== window.location.origin) {
				return;
			  }

			  if (targetUrl.searchParams.get('embed') !== '1') {
				targetUrl.searchParams.set('embed', '1');
				$(this).attr('href', targetUrl.pathname + targetUrl.search + targetUrl.hash);
			  }
			});

			$('form').each(function(){
			  var method = (($(this).attr('method') || 'get') + '').toLowerCase();
			  if (method === 'get' && $(this).find('input[name="embed"]').length === 0) {
				$('<input>').attr({type: 'hidden', name: 'embed', value: '1'}).appendTo(this);
			  }
			});
		  }
		});
	</script>
	
</body>
{% if request.GET.embed != '1' %}
<footer class="bg-light text-center text-lg-start mt-auto">
<!--Copyright-->
	<div class="text-center p-3" style="background-color: #383a43; color: #e8e9eb">
		© Full Stack development by Paul van Laar
	</div>
<!--Copyright-->
</footer>
{% endif %}
</html>