{% extends 'data/base.html' %}

{% block title%}
Cities of execution overview
{% endblock title%}

{% block content%}
	<div class="jumbotron text-center">
		<h1 class="display-4" style="color: #e8e9eb">List of cities of execution</h1>
	</div>
	<div class="row">
		{% for city in cities %}
			{% if city.execution_city.count %}
				<div class="col-3 mb-4">
					<a class="text-dark" href="{% url 'city-of-execution-detail' city.city %}">
						<div class="card box-shadow h-100 d-flex">
							<div class="card-body d-flex flex-column">
								<h5 class="card-title" align="center" style="margin-bottom:0";><a href="{% url 'city-of-execution-detail' city.city %}" class="stretched-link">{{ city.city }}</a></h5>
								{% if city.country%}
									<small align="center">({{ city.country }})</small>
								{% endif %}	
								{% if city.execution_city.count == 1 %}
									<div align="center"><p style='display:inline'>{{ city.execution_city.count }} entry</p></div>
								{% else %}
									<div align="center"><p style='display:inline'>{{ city.execution_city.count }} entries</p></div>
								{% endif %}
							</div>
						</div>
					</a>
				</div>
			{% endif %}
		{% endfor %}
{% endblock content %}