{% extends 'data/base.html' %}

{% block title%}
Data detail
{% endblock title%}

{% block content%}
	<div class="jumbotron text-center border">
		<h1 class="display-4">{{object.m_number.id}}: {{ object.m_number.title }}</h1>
		{% if object.m_number.date2 %}
			<h3 class="card-text" align="center">({{ object.m_number.date_validity }}{{object.m_number.date1}}-{{object.m_number.date2}})</h3>
		{% else %}
			<h3 class="card-text" align="center">({{ object.m_number.date_validity }}{{object.m_number.date1}})</h3>
		{% endif %}
	</div>
	<div class="row text-left">
        <div class="col-md-4">
        	<div class="text-center">
        		<img class="img-thumbnail" src="{{ object.m_number.image.url }}">
        	</div>
        </div>
        <div class="col-md-8">
        	<h3 align="center">Biographical information</h3><hr>
        	{% if object.m_number.artist2.full_name %}
	    		{% if object.m_number.artist_validity %}
	    			<p>{{object.m_number.artist_validity}} <a href="{% url 'artists-detail' object.m_number.artist1.id %}">{{ object.m_number.artist1.full_name }}</a> & "{% url 'artists-detail' object.m_number.artist2.id %}">{{ object.m_number.artist2.full_name }}</p>
	    		{% else %}	
	    			<p>By: <a href="{% url 'artists-detail' object.m_number.artist1.id %}">{{ object.m_number.artist1.full_name }}</a> & <a href="{% url 'artists-detail' object.m_number.artist2.id %}">{{ object.m_number.artist2.full_name }}</a></p>
	    		{% endif %}
	    	{% else %}
	    		{% if object.m_number.artist_validity %}
	    			<p>{{object.m_number.artist_validity}} <a href="{% url 'artists-detail' object.m_number.artist1.id %}">{{ object.m_number.artist1.full_name }}</a></p>
	    		{% else %}
	    			<p>By: <a href="{% url 'artists-detail' object.m_number.artist1.id %}">{{ object.m_number.artist1.full_name }}</a></p>
	    		{% endif %}
	    	{% endif %}
			<h6 style='display:inline'>Executed in: </h6><p style='display:inline'><a href="{% url 'city-of-execution-detail' object.m_number.place_of_execution.city %}">{{ object.m_number.place_of_execution }}</a></p><br>
        	<h6 style='display:inline'>Support: </h6><p style='display:inline'>{{ object.m_number.support }}</p><br>
        	<h6 style='display:inline'>Medium: </h6><p style='display:inline'>{{ object.m_number.medium }}</p><br>
        	<h6 style='display:inline'>Dimensions (cm): </h6><p style='display:inline'>{{ object.m_number.height }} x {{ object.m_number.width }}</p><br>
			<h6 style='display:inline'>Signed? </h6><p style='display:inline'>{{ object.m_number.signature }}</p><br>
			<hr>
			<h6 style='display:inline'>Museum: </h6><p style='display:inline'><a href="{% url 'museums-detail' object.m_number.museum.id %}">{{ object.m_number.museum.museum_name }}</a> [inv.nr: {{ object.m_number.accession_number}}]</p>
			{% if object.m_number.museum_link%}
				<h6 style='display:inline'><a href="{object.m_number.museum_link %}"></a>Museum-link</h6>
			{% endif %}
			{% if object.m_number.rkd_link%}
				<h6 style='display:inline'><a href="{object.m_number.rkd_link %}">RKD-link</a></h6>
			{% endif %}
			<hr>
        </div>
        <!-- IDEA: maybe make this two tabs: the other is a map with place of birth, place of death, and centres of activity mapped out. -->
        <!-- alternatively, we could maybe embed the RKD map? -->
    </div>

	<p>Image, lists the artwork + artist details. List sampling techniques, links to samples, ground description etc. Additional information popdown.</p>
{% endblock content %}

<!--
What do we want?
- Larger image of the painting
- title (datevalidation, date1, date2)
- artist (LINK) (birth-death)
- executed in:

- support:
- medium:
- height x width (height x width in cm)
- signature:

- museumname(LINK): accessionnumber
if artwork.museum_link:
	- museum-link(LINK)
- RKD-link (LINK)
- amount of groundlayers + render

DATA HEADING
Overview
- number of grounds
- description
- colour-code
- colour-render

if no_of_grounds = 1:
- layer1_colour
- layer1_composition
elif no_of_grounds = 2:
- layer2_colour
- layer2_composition
- layer1_colour
- layer1_composition
elif no_of_grounds = 3:
- layer3_colour
- layer3_composition
- layer2_colour
- layer2_composition
- layer1_colour
- layer1_composition
endif

DROPWDOWN: Reference
- reliability (LINK)
- Sampled?
- Microscopy?
- Elemental analysis?
- Source
	- give source
	- new research within DttG
	- researchers
- Notes

DROPDOWN: sample(s)
if sample1df:
	IMAGE
if sample1bf:
	IMAGE
if sample1uv:
	IMAGE
if sample2df:
	IMAGE
if sample2bf:
	IMAGE
if sample2uv:
-->