{% extends 'data/base.html' %}

{% block title%}
	{{ object.m_number.id}}: {{ object.m_number.title }}
{% endblock title%}

{% block main_class %}container-fluid px-0{% endblock %}

{% block content%}
	<div class="page-header page-header--light">
		<div class="page-header__inner">
			<h1 class="display-4 page-header__title">{{object.m_number.id}}: {{ object.m_number.title }}</h1>
			{% if object.m_number.date2 %}
				<p class="page-header__subtitle">({{ object.m_number.date_validity }}{{object.m_number.date1}}-{{object.m_number.date2}})</p>
			{% else %}
				<p class="page-header__subtitle">({{ object.m_number.date_validity }}{{object.m_number.date1}})</p>
			{% endif %}
		</div>
	</div>
	<div class="page-width-wide mt-4">
	<div class="row text-left">
        <div class="col-md-6 my-auto">
        	<div class="text-center">
				{% if object.m_number.rkd_image_url %}
				<img class="img-fluid align-self-center rounded border" style="border-color: #383a43;" src="{{ object.m_number.rkd_image_url }}" alt="{{ object.m_number.title }}">
				{% elif object.m_number.image %}
				<img class="img-fluid align-self-center rounded border" style="border-color: #383a43;" src="{{ object.m_number.image.url }}" alt="{{ object.m_number.title }}">
				{% endif %}
        	</div>
        </div>
        <div class="col-md-6">
        	<h3 class="text-center">Biographical information</h3><hr>
        	<div class="detail-meta">
        		<span class="detail-meta__label">Artist</span>
        		<span class="detail-meta__value">
	        	{% if object.m_number.artist2.full_name %}
	    			{% if object.m_number.artist_validity %}
	    				{{object.m_number.artist_validity}} <a href="{% url 'artists-detail' object.m_number.artist1.id %}">{{ object.m_number.artist1.full_name }}</a> &amp; <a href="{% url 'artists-detail' object.m_number.artist2.id %}">{{ object.m_number.artist2.full_name }}</a>
	    			{% else %}
	    				<a href="{% url 'artists-detail' object.m_number.artist1.id %}">{{ object.m_number.artist1.full_name }}</a> &amp; <a href="{% url 'artists-detail' object.m_number.artist2.id %}">{{ object.m_number.artist2.full_name }}</a>
	    			{% endif %}
	    		{% else %}
	    			{% if object.m_number.artist_validity %}
	    				{{object.m_number.artist_validity}} <a href="{% url 'artists-detail' object.m_number.artist1.id %}">{{ object.m_number.artist1.full_name }}</a>
	    			{% else %}
	    				<a href="{% url 'artists-detail' object.m_number.artist1.id %}">{{ object.m_number.artist1.full_name }}</a>
	    			{% endif %}
	    		{% endif %}
        		</span>

			<span class="detail-meta__label">Executed in</span>
			<span class="detail-meta__value"><a href="{% url 'city-of-execution-detail' object.m_number.place_of_execution.city %}">{{ object.m_number.place_of_execution }}</a></span>

			<span class="detail-meta__label">Support</span>
			<span class="detail-meta__value text-capitalize">{{ object.m_number.support }}</span>

			<span class="detail-meta__label">Medium</span>
			<span class="detail-meta__value text-capitalize">{{ object.m_number.medium }}</span>

			<span class="detail-meta__label">Dimensions (cm)</span>
			<span class="detail-meta__value">{{ object.m_number.height }} &times; {{ object.m_number.width }}</span>

			<span class="detail-meta__label">Signed</span>
			<span class="detail-meta__value text-capitalize">{{ object.m_number.signature }}</span>

			<span class="detail-meta__label">Museum</span>
			<span class="detail-meta__value"><a href="{% url 'museums-detail' object.m_number.museum.id %}">{{ object.m_number.museum.museum_name }}</a> [inv.nr: {{ object.m_number.accession_number}}]</span>

			{% if object.m_number.museum_link %}
				<span class="detail-meta__label">Museum link</span>
				<span class="detail-meta__value">
					{% if '://' in object.m_number.museum_link %}
						<a href="{{ object.m_number.museum_link }}" target="_blank" rel="noopener noreferrer">View on museum site</a>
					{% else %}
						<a href="https://{{ object.m_number.museum_link }}" target="_blank" rel="noopener noreferrer">View on museum site</a>
					{% endif %}
				</span>
			{% endif %}

			{% if object.m_number.rkd_link %}
				<span class="detail-meta__label">RKD</span>
				<span class="detail-meta__value">
					{% if '://' in object.m_number.rkd_link %}
						<a href="{{ object.m_number.rkd_link }}" target="_blank" rel="noopener noreferrer">RKD link</a>
					{% else %}
						<a href="https://{{ object.m_number.rkd_link }}" target="_blank" rel="noopener noreferrer">RKD link</a>
					{% endif %}
				</span>
			{% endif %}
		</div>
		<hr>
        </div>
    </div>
		<!-- IDEA: maybe make this two tabs: the other is a map with place of birth, place of death, and centres of activity mapped out. -->
		<!-- alternatively, we could maybe embed the RKD map? -->
	<div class="section-separator">
		<h2 class="section-separator__title">Data</h2>
	</div>
	<!-- Nav tabs -->

	<ul class="nav nav-tabs" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#overview">Overview</a>
		</li>
		<li class="nav-item">
			{% if object.sample_name_1 or object.sample_link_1 or object.sample_name_2 or object.sample_link_2 or object.sample_location or object.embargo or object.sample1df or object.sample1bf or object.sample1uv or object.sample2df or object.sample2bf or object.sample2uv %}
				<a class="nav-link" data-toggle="tab" href="#samples">Sample data</a>
			{% else %}
				<a class="nav-link disabled text-muted" href="#" tabindex="-1" aria-disabled="true" data-toggle="tooltip" data-placement="top" title="No sample data available" onclick="return false;">Sample data</a>
			{% endif %}
		</li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div class="tab-pane container active" id="overview">
			<div class="row">
				<div class="col-8">
					<br>
					<h4 class="text-center">Description:</h4>
					<hr>
					<div class="detail-meta">
						<span class="detail-meta__label">Preparatory layers</span>
						<span class="detail-meta__value">{{ object.no_of_grounds }} ({{ object.colour_code }})</span>
						<span class="detail-meta__label">Description</span>
						<span class="detail-meta__value">{{ object.description }}</span>
					</div>
				</div>
				<div class="col-4 my-auto">
					{% if object.m_number.medium %}
						<p class="text-black-50 font-weight-light font-italic" style="margin-bottom:5px;"><small>Paint layers </small><small class="text-lowercase">({{ object.m_number.medium }})</small></p>
					{% else %}
						<p class="text-black-50 font-weight-light font-italic" style="margin-bottom:5px;"><small>Paint layers</small></p>
					{% endif %}
					{% if object.no_of_grounds == '1' %}
						<div data-swatch-hex="{{ object.layer1_colour.hex_code }}" style="padding: 10px; border: 1px solid black;"></div>
					{% elif object.no_of_grounds == '2' %}
						<div style=" border: 1px solid black;">
							<div data-swatch-hex="{{ object.layer2_colour.hex_code }}" style="padding: 10px; margin-bottom:0;"></div>
							<div data-swatch-hex="{{ object.layer1_colour.hex_code }}" style="padding: 10px; margin:0; padding-top:10;"></div>
						</div>
					{% elif object.no_of_grounds == '3' %}
						<div style=" border: 1px solid black;">
							<div data-swatch-hex="{{ object.layer3_colour.hex_code }}" style="padding: 10px; margin-bottom:0;"></div>
							<div data-swatch-hex="{{ object.layer2_colour.hex_code }}" style="padding: 10px; margin:0; padding-top:10;"></div>
							<div data-swatch-hex="{{ object.layer1_colour.hex_code }}" style="padding: 10px; margin:0; padding-top:10;"></div>
						</div>
					{% else %}
						<div style=" border: 1px solid black;">
							<div data-swatch-hex="{{ object.layer2_colour.hex_code }}" style="padding: 10px; margin-bottom:0;"></div>
							<div data-swatch-hex="{{ object.layer1_colour.hex_code }}" style="padding: 10px; margin:0; padding-top:10;"></div>
						</div>
					{% endif %}
					{% if object.m_number.support%}
						<p class="text-black-50 font-weight-light font-italic text-capitalize"><small>{{ object.m_number.support }}</small></p>
					{% else %}
						<p class="text-black-50 font-weight-light font-italic"><small>Support</small></p>
					{% endif %}
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-8">
					<h4 class="text-center" style="margin-bottom: 0px;">Layer information:</h4>
					<p class="text-center"><small>(Counting from the support up towards the paint layers)</small></p>
					<hr>
					{% if object.no_of_grounds == '1' %}
						<div >
							<h6>Layer 1:</h6>
							<p>Colour: {{ object.layer1_colour}}</p>
							<p>Composition: {{object.layer1_composition}}</p>
						</div>
					{% elif object.no_of_grounds == '2' %}
						<div >
							<h6>Layer 2:</h6>
							<p>Colour: {{ object.layer2_colour}}</p>
							<p>Composition: {{object.layer2_composition}}</p>
						</div>
						<hr>
						<div>
							<h6>Layer 1:</h6>
							<p>Colour: {{ object.layer1_colour}}</p>
							<p>Composition: {{object.layer1_composition}}</p>
						</div>
						<hr>
					{% elif object.no_of_grounds == '3' %}
						<div>
							<h6>Layer 3:</h6>
							<p>Colour: {{ object.layer3_colour}}</p>
							<p>Composition: {{object.layer3_composition}}</p>
						</div>
						<hr>
						<div>
							<h6>Layer 2:</h6>
							<p>Colour: {{ object.layer2_colour}}</p>
							<p>Composition: {{object.layer2_composition}}</p>
						</div>
						<hr>
						<div>
							<h6>Layer 1:</h6>
							<p>Colour: {{ object.layer1_colour}}</p>
							<p>Composition: {{object.layer1_composition}}</p>
						</div>
						<hr>
					{% endif %}
				</div>
				<div class="col-4">
					<div>
						<h4 class="text-center" style="margin-bottom: 35px;">Data information:</h4>
					<hr>
					</div>
					<div>
						<div class="detail-meta">
							<span class="detail-meta__label">Reliability</span>
							{% if object.reliability == 1 %}
							<span class="detail-meta__value" data-toggle="tooltip" data-placement="bottom" title="Rating 1 – Most reliable: elemental analysis (e.g. SEM-EDX) has been performed to confirm microscopic cross-section analysis." style="cursor:help; text-decoration:underline dashed; text-underline-offset:3px; width:fit-content;">{{ object.reliability }}</span>
							{% elif object.reliability == 2 %}
							<span class="detail-meta__value" data-toggle="tooltip" data-placement="bottom" title="Rating 2 – Microscopic cross-section: cross-section analysis with light microscopy; no elemental confirmation." style="cursor:help; text-decoration:underline dashed; text-underline-offset:3px; width:fit-content;">{{ object.reliability }}</span>
							{% elif object.reliability == 3 %}
							<span class="detail-meta__value" data-toggle="tooltip" data-placement="bottom" title="Rating 3 – Surface analysis: surface examination by a skilled individual, ideally a paintings conservator with magnification." style="cursor:help; text-decoration:underline dashed; text-underline-offset:3px; width:fit-content;">{{ object.reliability }}</span>
							{% elif object.reliability == 4 %}
							<span class="detail-meta__value" data-toggle="tooltip" data-placement="bottom" title="Rating 4 – Written descriptions: written descriptions form the basis; research methods are unclear." style="cursor:help; text-decoration:underline dashed; text-underline-offset:3px; width:fit-content;">{{ object.reliability }}</span>
							{% else %}
							<span class="detail-meta__value">{{ object.reliability }}</span>
							{% endif %}
						</div>
						<hr>
						{% if object.sample or object.microscopy or object.elem_analysis %}
						<div>
							<div class="row text-center">
								<div class="col-12">
									<h6> Analytical Techniques:</h6>
								</div>
							</div>

							<div class="row text-center">
								{% if object.sample %}
									<div class="col">
										<p>Sampled?</p>
										<p><small>{{ object.sample }}</small></p>
									</div>
								{% endif %}
								{% if object.microscopy %}
									<div class="col">
										<p>Microscopy?</p>
										<p><small>{{ object.microscopy }}</small></p>
									</div>
								{% endif %}
								{% if object.elem_analysis %}
									<div class="col">
										<p>Elemental?</p>
										<p><small>{{ object.elem_analysis }}</small></p>
									</div>
								{% endif %}
							</div>
						</div>
						<hr>
						{% endif %}
					</div>	
					{% if object.researchers %}
						<p class="form-label-custom mt-2">Researchers</p>
						<p>{{ object.researchers }}</p>
						<hr>
					{% endif %}				
					{% if object.source %}
						<p class="form-label-custom mt-2">Source</p>
						<p><small>{{ object.source }}</small></p>
						<hr>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="tab-pane container fade" id="samples">
			<div class="row text-center">
				<div class="col">
					<br>
					<h4>Sample information:</h4>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<div class="detail-meta">
					{% if object.sample_name_1 %}
						<span class="detail-meta__label">Sample 1</span>
						{% if object.sample_link_1 %}
							<span class="detail-meta__value"><a href="{{object.sample_link_1}}">{{object.sample_name_1}}</a></span>
						{% else %}
							<span class="detail-meta__value">{{object.sample_name_1}}</span>
						{% endif %}
					{% endif %}
					{% if object.sample_name_2 %}
						<span class="detail-meta__label">Sample 2</span>
						{% if object.sample_link_2 %}
							<span class="detail-meta__value"><a href="{{object.sample_link_2}}">{{object.sample_name_2}}</a></span>
						{% else %}
							<span class="detail-meta__value">{{object.sample_name_2}}</span>
						{% endif %}
					{% endif %}
					{% if object.sample_location %}
						<span class="detail-meta__label">Sample location</span>
						<span class="detail-meta__value">{{ object.sample_location }}</span>
					{% endif %}
					</div>
				</div>
				<div class="col-8">
					{% if object.embargo %}
						<h4>Embargo</h4>
						<p><small>The sample images are not allowed to be shared.</small></p>
					{% else %}
						{% if object.sample1df or object.sample1bf or object.sample1uv or object.sample2df or object.sample2bf or object.sample2uv %}
							<ul class="nav nav-tabs">
								{% if object.sample1df or object.sample1bf or object.sample1uv %}
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sample 1</a>
										<div class="dropdown-menu">
											{% if object.sample1df %}
												<a class="dropdown-item" data-toggle="tab" href="#1df">Darkfield</a>
											{% endif %}
											{% if object.sample1bf %}
												<a class="dropdown-item" data-toggle="tab" href="#1bf">Brightfield</a>
											{% endif %}
											{% if object.sample1uv%}
												<a class="dropdown-item" data-toggle="tab" href="#1uv">UV</a>
											{% endif %}
										</div>
									</li>
								{% else %}
									<li>
										<a class="nav-link disabled" href="">Sample 1</a>
									</li>
								{% endif %}
								{% if object.sample2df or object.sample2bf or object.sample2uv %}
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sample 2</a>
										<div class="dropdown-menu">
											{% if object.sample2df %}
												<a class="dropdown-item" data-toggle="tab" href="#2df">Darkfield</a>
											{% endif %}
											{% if object.sample2bf %}
												<a class="dropdown-item" data-toggle="tab" href="#2bf">Brightfield</a>
											{% endif %}
											{% if object.sample2uv%}
												<a class="dropdown-item" data-toggle="tab" href="#2uv">UV</a>
											{% endif %}
										</div>
									</li>
								{% else %}
									<li>
										<a class="nav-link disabled" href="">Sample 2</a>
									</li>
								{% endif %}
							</ul>
							<div class="tab-content">
								<div class="tab-pane fade" id="1bf">
									<br>
									<h3>Brightfield</h3>
									<hr>
									<div class="text-center">
										{% if object.sample1bf %}
											<img class="img-fluid align-self-center" style="width:700px" src="{{ object.sample1bf.url }}">
										{% endif %}
									</div>
								</div>
								<div class="tab-pane fade" id="1df">
									<br>
									<h3>Darkfield</h3>
									<hr>
									<div class="text-center">
										{% if object.sample1df %}
											<img class="img-fluid align-self-center" style="width:700px" src="{{ object.sample1df.url }}">
										{% endif %}
									</div>
								</div>
								<div class="tab-pane fade" id="1uv">
									<br>
									<h3>UV</h3>
									<hr>
									<div class="text-center">
										{% if object.sample1uv %}
											<img class="img-fluid align-self-center" style="width:700px" src="{{ object.sample1uv.url }}">
										{% endif %}
									</div>

								</div>
								<div class="tab-pane fade" id="2bf">
									<br>
									<h3>Brightfield</h3>
									<hr>
									<div class="text-center">
										{% if object.sample2bf %}
											<img class="img-fluid align-self-center" style="width:700px" src="{{ object.sample2bf.url }}">
										{% endif %}
									</div>
								</div>
								<div class="tab-pane fade" id="2df">
									<br>
									<h3>Darkfield</h3>
									<hr>
									<div class="text-center">
										{% if object.sample2df %}
											<img class="img-fluid align-self-center" style="width:700px" src="{{ object.sample2df.url }}">
										{% endif %}
									</div>
								</div>
								<div class="tab-pane fade" id="2uv">
									<br>
									<h3>UV</h3>
									<hr>
									<div class="text-center">
										{% if object.sample2uv %}
											<img class="img-fluid align-self-center" style="width:700px" src="{{ object.sample2uv.url }}">
										{% endif %}
									</div>
								</div>
							</div>
						{% else %}
							<h4>No sample images available.</h4>
						{% endif %}
					{% endif %}
				</div>
				
			</div>
			<br>
			<br>
			<br>
			<br>
			<br>
			<hr>
		</div>
	</div>
	</div><!-- /.page-width-wide -->
{% endblock content %}