{% extends 'data/base.html' %}

{% block title%}
Data Table
{% endblock title%}

{% block content%}
	<h1>Hopefully a queryable table (datasette backend?)</h1>
	<p>This is a table with all the data!</p>
{% endblock content %}

<!--
What do we want?
- A table of our data
| M_Number (LINK) | Artist (LINK) | Title | Date1 | Date2 | Executed in (LINK) | no_of_layers | layer 1 | layer 2 | layer 3 | 

Sortable on each field

Queryable
- reliability
- artist
- place of execution
- date range
- no_of_layers
- toplayer
- lowest layer
- size
- sample
- microscopy
- elem_analysis
- medium
- support

OPTIONAL:
- user choice which columns are visible or not.
-->