{% extends 'data/base.html' %}

{% block title%}
About
{% endblock title%}

{% block content%}
	<div class="jumbotron text-center border">
		<h1 class="display-2">About</h1>
		<p> Down to the Ground</p>
	</div>
	<h1>ABOUT DOWN TO THE GROUND</h1>
	<p>This will describe the NICAS-funded Down to the Ground project.</p>
	<h2>Affiliated partners</h2>
	<p>this will describe the partners</p>
	<h1>Team</h1>
{% endblock content %}

<!--
Project description
- plain text

Affiliated instutions
- names with link to their website

Team (LINK)
- names
-->