{% extends 'data/base.html' %}

{% load static %}

{% block title %}
About 
{% endblock title %}

{% block content %}
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-2">
				<img src="{% get_media_prefix %}/site_media/Logo.png" alt="Logo" style="width:125px;">
			</div>
			<div class="col">
				<h1 class="display-2" style="color: #e8e9eb">About</h1>
			</div>
			<div class="col-2">
				<img src="{% get_media_prefix %}/site_media/Logo.png" alt="Logo" style="width:125px;">
			</div>
		</div>
		
	</div>
	<h2>DOWN TO THE GROUND</h2>
	<hr>
	<h4>A HISTORICAL, VISUAL AND SCIENTIFIC ANALYSIS OF COLOURED GROUNDS IN NETHERLANDISH PAINTINGS, 1550-1650</h4>
	<p>The colour of ground layers, applied to prepare supports for painting, has a profound effect on painting methods and the visual characteristics of finished pictures. In the Renaissance, painters used white grounds. Coloured grounds originate in late 15th-century Italy and spread North around 1550. They gave rise to a new way of painting, with an emphasis on tonality and chiaroscuro.

Currently we have no overview of the transfer mechanisms that influenced their successful spread to the Netherlands, their impact on painting technique and visual effects, and the influence of advances in Early Modern optics and colour theory on their development.

In Down to the Ground, art historians, conservators, and scientists investigate the impact of coloured grounds through three interwoven subprojects, focusing on the spread of coloured grounds, the role of ground colour in the painting process, and the development of innovative non-invasive depth-resolved spectral imaging instrumentation (DRSI) to support research into visual and optical characteristics and colour changes. The project will provide insight into the mix of cultural and technological factors that allowed coloured grounds to develop, disclosing their influence on the character, methods, and visual appearance of Netherlandish Golden Age paintings.</p><hr>
	<div class="container">
		<div class="row border-between">
			<div class="col" style="border-right: 1px solid rgba(0,0,0,0.1)">
				<h4 align="center">TEAM</h4>
				<h6>Project leader:</h6>
				<div class="entry-content">
					<p class="mb-0">&#9642; <a href=https://www.uva.nl/profiel/s/t/m.j.n.stols-witlox/m.j.n.stols-witlox.html>Dr. Maartje Stols-Witlox</a></p>
					<br>
				</div>
				<h6>Principal researchers:</h6>
				<div class="entry-content">
					<p class="mb-0">&#9642; <a href="https://www.uva.nl/profiel/h/o/l.s.dhont/l.s.d--hont.html">Lieve d'Hont</a>, PhD-Candidate</p>
					<p class="mb-0">&#9642; <a href="https://www.uva.nl/profiel/h/a/m.a.hallaquitania/m.a.hall-aquitania.html">Moorea Hall-Aquitania</a>, PhD-Candidate</p>
					<p class="mb-0">&#9642; Michaël Maria, PhD-Candidate</p>
					<br>
				</div>
				<h6>Project team:</h6>
				<div class="entry-content">
					<p class="mb-0">&#9642; <a href="https://www.uva.nl/profiel/h/e/e.hendriks/e.hendriks.html">Ella Hendrinks</a></p>
					<p class="mb-0">&#9642; Erma Hermens</p>
					<p class="mb-0">&#9642; <a href="https://www.tudelft.nl/staff/r.m.groves">Roger Groves</a></p>
					<p class="mb-0">&#9642; <a href="https://www.uva.nl/en/profile/k/o/e.e.p.kolfin/e.e.p.kolfin.html">Elmer Kolfin</a></p>
					<p class="mb-0">&#9642; <a href="https://www.tudelft.nl/staff/a.g.anisimov">Andreï Anisimov</a></p>
					<p class="mb-0">&#9642; <a href="https://www.paulvanlaar.nl/">Paul J.C. van Laar</a></p>
					<br>
				</div>
			</div>
			<div class="col">
				<h4 align="center">PARTICIPATING INSTITUTIONS</h4>
				<div class="row mt-4 mx-2">
					<div class="col-3"><a href="https://www.uva.nl/en"><img class="img-fluid rounded border" src="{% get_media_prefix %}/site_media/UVA.png"></a></div>
					<div class="col-3"><a href="https://www.franshalsmuseum.nl/en/"><img class="img-fluid rounded border" src="{% get_media_prefix %}/site_media/FHM.png"></a></div>
					<div class="col-3"><a href="https://www.mauritshuis.nl/en/"><img class="img-fluid rounded border" src="{% get_media_prefix %}/site_media/MH.png"></a></div>
					<div class="col-3"><a href="https://www.rijksmuseum.nl/en"><img class="img-fluid rounded border" src="{% get_media_prefix %}/site_media/RM.png"></a></div>
				</div>
				<div class="row mt-4 mx-2">
					<div class="col-3"><a href="https://www.nationalgallery.org.uk/"><img class="img-fluid rounded border" src="{% get_media_prefix %}/site_media/NGA.png"></a></div>
					<div class="col-3"><a href="https://www.smk.dk/en/"><img class="img-fluid rounded border" src="{% get_media_prefix %}/site_media/SMK.png"></a></div>
					<div class="col-3"><a href="https://kmska.be/en"><img class="img-fluid rounded border" src="{% get_media_prefix %}/site_media/ANTWERP.png"></a></div>
					<div class="col-3"><a href="https://rkd.nl/en/"><img class="img-fluid rounded border" src="{% get_media_prefix %}/site_media/RKD.png"></a></div>
				</div>
				<hr>
				<h4 align="center">FUNDED BY:</h4>
				<div class="row mt-4 mb-4 mx-2">
					<div class="col-3"></div>
					<div class="col-3"><a href="https://www.nwo.nl/en"><img class="img-fluid rounded border" src="{% get_media_prefix %}/site_media/NWO.png"></a></div>
					<div class="col-3"><a href="https://www.nicas-research.nl/"><img class="img-fluid rounded border" src="{% get_media_prefix %}/site_media/NICAS.png"></a></div>
					<div class="col-3"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}