{% extends 'data/base.html' %}

{% block title%}
Home
{% endblock title%}

{% block content%}
	<div class="jumbotron text-center">
		<h1 class="display-2" style="color: #e8e9eb">Down to the Ground</h1>
	</div>
	<h4>ABOUT</h4>
	<p>
		The data on ground layers in Dutch and Flemish paintings of the late sixteenth and early seventeenth centuries (approximately 1550-1650) presented here was collected by Moorea Hall-Aquitania starting in 2018, first for a fellowship at the Rijksmuseum and subsequently under the remit of her doctoral research for the <a href=https://ahm.uva.nl/content/projects/down-to-the-ground/down-to-the-ground.html/ target="_blank" rel="noopener noreferrer">NWO Down to the Ground (DttG)</a> project at the University of Amsterdam, 2019-2024. This database was designed by Moorea Hall-Aquitania and Paul van Laar and developed by Paul van Laar for the DttG project in 2022.
	</p>

	<hr>
	
	<h4>
		SOURCES
	</h4>
	<p>
		The database is populated with information on ground layers from both published and unpublished sources, as well as new technical research by Hall-Aquitania. All data sources have been cited for each painting, along with the researchers responsible (where known).
		<br>
		<br>
		Much of the current data comes from our museum partners: the Mauritshuis (The Hague), the Frans Hals Museum (Haarlem), the National Gallery (London), the Royal Museum of Fine Arts (Antwerp) and the the Statens Museum for Kunst (Copenhagen), as well as the Rijksmuseum (Amsterdam). We are also grateful for the partnership and resources of the RKD Netherlands Institute for Art History (The Hague).
	</p>

	<hr>
	
	<h4>
		LACUNAE
	</h4>
	
	<p>
		Technical research into paintings is often constrained by both conservation ethics and institutional/art historical biases. This means that much technical research based on paint samples was done during conservation campaigns, which are often skewed toward certain artists based on limited financial means and public or academic preferences. One example of this is the overrepresentation of Rembrandt paintings in this database, due to his enduring popularity and the comprehensive work of the Rembrandt Research Project (1968-2014). Paintings are often restored for specific exhibitions, and thus the data is further biased by curatorial trends of the last decades. Furthermore, paintings and painters from the lower end of the market are often excluded from technical/conservation campaigns.
		<br><br>
		This is all to say that the DttG database is currently inclined towards the Northern Netherlands and certain historically popular painters whose work has been favored by exhibitions and research projects. While the goal is to represent paintings from all market sectors in both the Northern and Southern Netherlands around 1550-1650, the Southern Netherlands and the sixteenth century are both underrepresented. We hope to remedy this with targeted research as the database grows and urge any researchers with sample data from this period/area to contribute.
	</p>

	<hr>
	
	<h4>
		FUTURE DEVELOPMENT
	</h4>
	
	<p>
		New data are constantly being added and the database infrastructure is periodically reviewed to meet evolving research needs. The next step is to add painting images to each entry (due to current time restraints paintings now have links to their museum and RKD pages) and to migrate the database to an open-access online platform. In the future, we hope to also include cross-section images.
	</p>
	<hr>
{% endblock content %}