{% extends 'data/base.html' %}

{% block title%}
{{ object.id}}: {{object.museum_name}}
{% endblock title%}

{% block content%}
	<div class="jumbotron text-center">
		<h1 class="display-4" style="color: #e8e9eb">{{object.id}}. {{ object.museum_name }}</h1>
		<div class="row border-top mx-5" style="border-color: #e8e9eb;">
			<div class="col-3 mt-3"></div>
			<div class="col mt-3">
				<p style="color: #e8e9eb"><a href="{% url 'city-of-execution-detail' object.city %}">{{object.city}}, </a>{{object.city.country}}</p>
			</div>
			{% if object.website %}
				<div class="col mt-3">
					<p><a href="{{ object.website }}">Museum website</a></p>
				</div>
			{% endif %}
			<div class="col-3 mt-3"></div>
			
		</div>
		<p style="color: #e8e9eb"> ({{ object.artwork_museum.count }} database entries)</p>
	</div>
	<!-- {% if object.artwork_museum.count is not 0 %}
		<div class="row">
			{% for artwork in museum.artwork_museum.all %}
				<div class="col-4">
					<a class="text-dark" href="{% url 'data-detail' artwork.id %}">
						<div class="card box-shadow h-100 d-flex">
							<div class="text-center">
								<img class="card-img-top" src="{{ artwork.image.url}}" alt="Card Image" style="max-height:200px; width:auto;">
							</div>
							<div class="card-body d-flex flex-column">
								<h5 class="card-title" align="center"><a href="{% url 'data-detail' artwork.id %}" class="stretched-link">{{ artwork.id }}: {{ artwork.title }}</a></h5>
								{% if artwork.date2 %}
									<small class="card-text" align="center">({{ artwork.date_validity }}{{artwork.date1}}-{{artwork.date2}})</small>
								{% else %}
									<small class="card-text" align="center">({{ artwork.date_validity }}{{artwork.date1}})</small>
								{% endif %}
								{% if artwork.artist2.full_name %}
									{% if artwork.artist_validity %}
										<small class="mt-auto">{{ artwork.artist_validity }} <a href="{% url 'artists-detail' artwork.artist1.id %}">{{ artwork.artist1.full_name }}</a> & <a href="{% url 'artists-detail' artwork.artist2.id %}">{{ artwork.artist2.full_name }}</a></small>
									{% else %}
										<small class="mt-auto">By: <a href="{% url 'artists-detail' artwork.artist1.id %}">{{ artwork.artist1.full_name }}</a> & "{% url 'artists-detail' artwork.artist2.id %}">{{ artwork.artist2.full_name }}</small>
									{% endif %}
								{% else %}
									{% if artwork.artist_validity %}
										<small class="mt-auto">{{ artwork.artist_validity }} <a href="{% url 'artists-detail' artwork.artist1.id %}">{{ artwork.artist1.full_name }}</a></small>
									{% else %}
										<small class="mt-auto">By: <a href="{% url 'artists-detail' artwork.artist1.id %}">{{ artwork.artist1.full_name }}</a></small>
									{% endif %}
								{% endif %}
								
								<small>Painted in: <a href="{% url 'city-of-execution-detail' artwork.place_of_execution.city %}">{{ artwork.place_of_execution }}</a></small>
								
								<p class="text-black-50 font-weight-light font-italic" align="center" style="margin-bottom:0;"><small>Paint layers</small></p>
									{% if artwork.data.no_of_grounds == '1' %}
										<div style="background-color: {{ artwork.data.layer1_colour.hex_code }} ; padding: 10px;  border: 1px solid black;"></div>
									{% elif artwork.data.no_of_grounds == '2' %}
										<div style=" border: 1px solid black;">
											<div style="background-color: {{ artwork.data.layer2_colour.hex_code }} ; padding: 10px; margin-bottom:0;"></div>
										<div style="background-color: {{ artwork.data.layer1_colour.hex_code }} ; padding: 10px; margin:0; padding-top:10;"></div>
										</div>
										
									{% elif artwork.data.no_of_grounds == '3' %}
										<div style=" border: 1px solid black;">
											<div style="background-color: {{ artwork.data.layer3_colour.hex_code }} ; padding: 10px; margin-bottom:0;"></div>
											<div style="background-color: {{ artwork.data.layer2_colour.hex_code }} ; padding: 10px; margin:0; padding-top:10;"></div>
											<div style="background-color: {{ artwork.data.layer1_colour.hex_code }} ; padding: 10px; margin:0; padding-top:10;"></div>
										</div>
										
									{% endif %}
								<p class="text-black-50 font-weight-light font-italic" align="center"><small>Support</small></p>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	
	{% else %}
		<h4 align="center">No entries (yet) in database.</h4>
	
	{% endif %} -->

	{% if object.artwork_museum.count is not None %}
		<div class="row">
			{% for artwork in museum.artwork_museum.all %}
				<div class="col-4 mb-4">
					<div class="card h-100 d-flex">
						<div class="card-body d-flex flex-column">
							<h5 class="card-title" align="center"><a href="{% url 'data-detail' artwork.id %}" class="stretched-link">{{artwork.id}}: {{ artwork.title }}</a></h5>
							
							{% if artwork.date2 %}
								<p class="card-text" align="center">({{ artwork.date_validity }}{{artwork.date1}}-{{artwork.date2}})</p>
							{% else %}
								<p class="card-text" align="center">({{ artwork.date_validity }}{{artwork.date1}})</p>
							{% endif %}
							
							<div class="text-center">
								<img class="card-img-top" src="{{ artwork.image.url}}" alt="Card Image" style="max-height:200px; width:auto;">
							</div>
							
							{% if artwork.artist2.full_name %}
								{% if artwork.artist_validity %}
									<small class="mt-auto">{{ artwork.artist_validity }} <a href="{% url 'artists-detail' artwork.artist1.id %}">{{ artwork.artist1.full_name }}</a> & <a href="{% url 'artists-detail' artwork.artist2.id %}">{{ artwork.artist2.full_name }}</a></small>
								{% else %}
									<small class="mt-auto">By: <a href="{% url 'artists-detail' artwork.artist1.id %}">{{ artwork.artist1.full_name }}</a> & "{% url 'artists-detail' artwork.artist2.id %}">{{ artwork.artist2.full_name }}</small>
								{% endif %}
							{% else %}
								{% if artwork.artist_validity %}
									<small class="mt-auto">{{ artwork.artist_validity }} <a href="{% url 'artists-detail' artwork.artist1.id %}">{{ artwork.artist1.full_name }}</a></small>
								{% else %}
									<small class="mt-auto">By: <a href="{% url 'artists-detail' artwork.artist1.id %}">{{ artwork.artist1.full_name }}</a></small>
								{% endif %}
							{% endif %}
							
							<small>Painted in: <a href="{% url 'city-of-execution-detail' artwork.place_of_execution.city %}">{{ artwork.place_of_execution }}</a></small>

							<h6 align="center" class="mt-auto">Preparatory layers:</h6>

							{% if artwork.medium %}
								<p class="text-black-50 font-weight-light font-italic" align="center" style="margin-bottom:5px;"><small>Paint layers </small><small class="text-lowercase">({{ artwork.medium }})</small></p>
							{% else %}
								<p class="text-black-50 font-weight-light font-italic" align="center" style="margin-bottom:5px;"><small>Paint layers</small></p>
							{% endif %}

							{% if artwork.data.no_of_grounds == '1' %}
								<div style="background-color: {{ artwork.data.layer1_colour.hex_code }} ; padding: 10px;  border: 1px solid black;"></div>
							{% elif artwork.data.no_of_grounds == '2' %}
								<div style=" border: 1px solid black;">
									<div style="background-color: {{ artwork.data.layer2_colour.hex_code }} ; padding: 10px; margin-bottom:0;"></div>
									<div style="background-color: {{ artwork.data.layer1_colour.hex_code }} ; padding: 10px; margin:0; padding-top:10;"></div>
								</div>
								
							{% elif artwork.data.no_of_grounds == '3' %}
								<div style=" border: 1px solid black;">
									<div style="background-color: {{ artwork.data.layer3_colour.hex_code }} ; padding: 10px; margin-bottom:0;"></div>
									<div style="background-color: {{ artwork.data.layer2_colour.hex_code }} ; padding: 10px; margin:0; padding-top:10;"></div>
									<div style="background-color: {{ artwork.data.layer1_colour.hex_code }} ; padding: 10px; margin:0; padding-top:10;"></div>
								</div>

							{% else %}
								<div style=" border: 1px solid black;">
									<div style="background-color: {{ artwork.data.layer2_colour.hex_code }} ; padding: 10px; margin-bottom:0;"></div>
									<div style="background-color: {{ artwork.data.layer1_colour.hex_code }} ; padding: 10px; margin:0; padding-top:10;"></div>
								</div>
								
							{% endif %}
							{% if artwork.support%}
								<p class="text-black-50 font-weight-light font-italic text-capitalize" align="center"><small>{{ artwork.support }}</small></p>
							{% else %}
								<p class="text-black-50 font-weight-light font-italic" align="center"><small>Support</small></p>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<h4 align="center">No entries (yet) in database.</h4>
	{% endif %}		
{% endblock content %}