{% extends 'data/base.html' %}

{% load crispy_forms_tags %}

<!-- Title of the page -->
{% block title%}
Advanced Search
{% endblock title%}

{% block main_class %}container-fluid px-0{% endblock %}

{% block content%}

<!-- Header at the top -->
<div class="page-header page-header--light">
	<div class="page-header__inner">
		<h1 class="display-4 page-header__title">Advanced Search</h1>
		<p class="page-header__subtitle">Advanced Queries</p>
	</div>
</div>
<div class="page-width-wide">
<div class="d-flex justify-content-between mt-3 mb-2">
	<a class="btn btn-outline-secondary btn-sm" role="button" href="{% url 'data-table-simple' %}">Switch to Simple Search</a>
	<button class="btn btn-outline-secondary btn-sm" type="button" data-toggle="collapse" data-target="#advsearch" aria-expanded="false" aria-controls="advsearch">Toggle search form visibility</button>
</div>

<!-- Search form -->
<div class="collapse show" id="advsearch">
	<div class="content-panel page-width-wide mt-3">
		<form method="get">
			<h5 class="text-center">Object information:</h5>
			<p class="text-muted text-center mb-3" style="font-size:0.95rem;">To select more than one item in any list field, hold <strong>Command</strong> (Mac) or <strong>Control</strong> (Windows/Linux) while clicking.</p>
			<div class="form-row mt-3 mb-4">
				<div class="col-1"></div>
				<div class="col-4 text-center">
					{{ advancedsearch.form.artist|as_crispy_field }}
				</div>
				<div class="col-4 text-center">
					{{ advancedsearch.form.city|as_crispy_field }}
				</div>
				<div class="col-2 text-center">
					{{ advancedsearch.form.date1|as_crispy_field }}
				</div>
				<div class="col-1"></div>
			</div>
			<h5 class="text-center">Ground information:</h5>
			<div class="form-row mt-3 mb-4">
				<div class="col"></div>				
				<div class="col-2 text-center">
					{{ advancedsearch.form.no_of_grounds|as_crispy_field }}
				</div>
				<div class="col-3 text-center">
					{{ advancedsearch.form.bottomlayer|as_crispy_field }}
				</div>
				<div class="col-3 text-center">
					{{ advancedsearch.form.toplayer|as_crispy_field }}
				</div>
				<div class="col-2 text-center">
					{{ advancedsearch.form.reliability|as_crispy_field }}
				</div>
				<div class="col"></div>				
			</div>
			<div class="form-row">
				<div class="col-1"></div>
				<div class="col-4 text-center">
					{{ advancedsearch.form.active_in|as_crispy_field}}
				</div>
				<div class="col-4 text-center">
					{{ advancedsearch.form.o|as_crispy_field}}
				</div>
				<div class="col">
					<p class="text-center">Show top layer:</p>
					{% if 'toplayervis' in request.GET %}
						<input class = "form-control" type="checkbox" name="toplayervis" aria-label checked>
					{% else %}
						<input class = "form-control" type="checkbox" name="toplayervis" aria-label>
					{% endif %}
				</div>
				<div class="col-1"></div>
			</div>
			<div class="form-row">
				<div class="col-4 text-center">
					<button class="btn btn-outline-secondary btn-sm" type="button" data-toggle="collapse" data-target="#extrasearch" aria-expanded="false" aria-controls="extrasearch">Toggle additional query fields</button>
				</div>
				<div class="col-4 text-center">
					<input class="btn btn-dark" type="submit" value="Search" />
				</div>
				<div class="col-4 text-right">
					<a class="btn btn-outline-secondary btn-sm" role="button" href="{% url 'data-table-adv' %}">Reset search form</a>
				</div>
			</div>
			<div class="collapse" id="extrasearch">
				<div class="form-row mt-4">
					<div class="col"></div>
					<div class="col-3 text-center">
						{{ advancedsearch.form.support|as_crispy_field}}
					</div> 
					<div class="col-1 text-center">
						{{ advancedsearch.form.medium|as_crispy_field}}
					</div>
					<div class="col-2 text-center">
						{{ advancedsearch.form.sampled|as_crispy_field}}
					</div>
					<div class="col-2 text-center">
						{{ advancedsearch.form.microscopy|as_crispy_field}}
					</div>
					<div class="col-2 text-center">
						{{ advancedsearch.form.elem_analysis|as_crispy_field}}
					</div>
					<div class="col"></div>
				</div>
			</div>
		</form>		
	</div>
</div>

<div class="query-results-bar mt-3 mb-3">
	<!-- Amount of results -->
	<span class="query-results-bar__count">{{ results }} results</span>
	<!-- Export function -->
	<a href="{% url 'csv-export-adv' %}?{{request.GET.urlencode}}"><button type="button" class="btn btn-outline-secondary btn-sm">Export to CSV</button></a>
</div>


<!-- This generates a table for all the results -->
<table class="table table-condensed table-hover table-striped data-table">
	<thead>
		<tr>
			<!-- Headings -->
			<th>ID</th>
			<th>Title</th>
			<th>Artist</th>
			<th>Date</th>
			<th>Place of Execution</th>
			<th>No. of Ground Layers</th>
			<th>Colour-code</th>
			{% if 'toplayervis' in request.GET %}
				<th data-sort-method="none">Top layer</th>
			{% else %}
				<th data-sort-method="none">Layers</th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
		{% for artwork in advancedsearch.qs %}
			<tr>
				<!-- Loop that inserts data per row -->
				<td>{{ artwork.id }}</td>
				<td><a href="{% url 'data-detail' artwork.id %}">{{ artwork.title }}</a></td>
				{% if artwork.artist2.full_name %}
					<td>{{ artwork.artist_validity}} <a href="{% url 'artists-detail' artwork.artist1.id %}">{{ artwork.artist1.full_name }} </a> & <a href="{% url 'artists-detail' artwork.artist2.id %}">{{ artwork.artist2.full_name }}</a></td>
				{% else %}
					<td>{{ artwork.artist_validity}} <a href="{% url 'artists-detail' artwork.artist1.id %}">{{ artwork.artist1.full_name }} </a></td>
				{% endif %}
				{% if artwork.date2 %}
					<td>{{ artwork.date_validity }} {{ artwork.date1 }} - {{ artwork.date2 }}</td>
				{% else %}
					<td>{{ artwork.date_validity}} {{artwork.date1 }}</td>
				{% endif %}			
				<td><a href="{% url 'city-of-execution-detail' artwork.place_of_execution.city %}">{{ artwork.place_of_execution }}</a></td>
				<td>{{ artwork.data.no_of_grounds }}</td>
				<td>{{ artwork.data.colour_code}}</td>
				{% if 'toplayervis' in request.GET %}		
					<td>
						{% if artwork.data.layer3_colour %}
							<div data-swatch-hex="{{ artwork.data.layer3_colour.hex_code }}" style="padding: 10px; border: 1px solid black;"></div>
						{% elif artwork.data.layer2_colour %}
							<div data-swatch-hex="{{ artwork.data.layer2_colour.hex_code }}" style="padding: 10px; border: 1px solid black;"></div>
						{% else %}
							<div data-swatch-hex="{{ artwork.data.layer1_colour.hex_code }}" style="padding: 10px; border: 1px solid black;"></div>
						{% endif %}
					</td>
				{% else %}
					<td>
						{% if artwork.data.no_of_grounds == '1' %}
							<div data-swatch-hex="{{ artwork.data.layer1_colour.hex_code }}" style="padding: 10px; border: 1px solid black;"></div>
						{% elif artwork.data.no_of_grounds == '2' %}
							<div style=" border: 1px solid black;">
								<div data-swatch-hex="{{ artwork.data.layer2_colour.hex_code }}" style="padding: 10px; margin-bottom:0;"></div>
								<div data-swatch-hex="{{ artwork.data.layer1_colour.hex_code }}" style="padding: 10px; margin:0; padding-top:10;"></div>
							</div>
							
						{% elif artwork.data.no_of_grounds == '3' %}
							<div style=" border: 1px solid black;">
								<div data-swatch-hex="{{ artwork.data.layer3_colour.hex_code }}" style="padding: 10px; margin-bottom:0;"></div>
								<div data-swatch-hex="{{ artwork.data.layer2_colour.hex_code }}" style="padding: 10px; margin:0; padding-top:10;"></div>
								<div data-swatch-hex="{{ artwork.data.layer1_colour.hex_code }}" style="padding: 10px; margin:0; padding-top:10;"></div>
							</div>

						{% else %}
							<div style=" border: 1px solid black;">
								<div data-swatch-hex="{{ artwork.data.layer2_colour.hex_code }}" style="padding: 10px; margin-bottom:0;"></div>
								<div data-swatch-hex="{{ artwork.data.layer1_colour.hex_code }}" style="padding: 10px; margin:0; padding-top:10;"></div>
							</div>
						{% endif %}
					</td>
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>
</div><!-- /.page-width-wide -->
{% endblock content %}