{% extends 'data/base.html' %}

{% load crispy_forms_tags %}

<!-- Title of the page -->
{% block title%}
Tabular data
{% endblock title%}

{% block content%}

<!-- Header at the top -->
<div class="jumbotron text-center">
	<h1 class="display-4" style="color: #e8e9eb">Database Table</h1>
	<p style="color: #e8e9eb">- Advanced Queries -</p>
	<div class="row border-bottom text-center" style="border-color: #e8e9eb"></div>
<!-- Buttons that toggle visibility of the search function, and allow to switch to alternative search mode -->
	<div class="mt-4 pb-4">
		<a class="btn btn-outline-light float-left" role="button" href="{% url 'data-table-simple' %}">Switch to Simple Search</a>
		<button class="btn btn-outline-light float-right" type="button" data-toggle="collapse" data-target="#advsearch" aria-expanded="false" aria-controls="advsearch">Toggle search form visibility</button>
	</div>
</div>

<!-- Search form -->
<div class="collapse show" id="advsearch">
	<div class="container rounded border p-4" style="border-color: #383a43; background-color: #dfe0e3">
		<form method="get">
			<h5 align="center">Object information:</h5>
			<div class="form-row mt-3 mb-4">
				<div class="col-1"></div>
				<div class="col-4 text-center">
					{{ advancedsearch.form.artist|as_crispy_field }}
				</div>
				<div class="col-4 text-center">
					{{ advancedsearch.form.city|as_crispy_field }}
				</div>
				<div class="col-2 text-center">
					{{ advancedsearch.form.date1|as_crispy_field }}
				</div>
				<div class="col-1"></div>
			</div>
			<h5 align="center">Ground information:</h5>
			<div class="form-row mt-3 mb-4">
				<div class="col"></div>				
				<div class="col-2 text-center">
					{{ advancedsearch.form.no_of_grounds|as_crispy_field }}
				</div>
				<div class="col-3 text-center">
					{{ advancedsearch.form.bottomlayer|as_crispy_field }}
				</div>
				<div class="col-3 text-center">
					{{ advancedsearch.form.toplayer|as_crispy_field }}
				</div>
				<div class="col-2 text-center">
					{{ advancedsearch.form.reliability|as_crispy_field }}
				</div>
				<div class="col"></div>				
			</div>
			<div class="form-row">
				<div class="col-4"></div>
				<div class="col-4 text-center">
					{{ advancedsearch.form.o|as_crispy_field}}
				</div>
				<div class="col"></div>
				<div class="col">
					<p class="text-center">Show top layer:</p>
					{% if 'toplayervis' in request.GET %}
						<input class = "form-control" type="checkbox" name="toplayervis" aria-label checked>
					{% else %}
						<input class = "form-control" type="checkbox" name="toplayervis" aria-label>
					{% endif %}
				</div>
			</div>
			<div class="form-row">
				<div class="col-4"></div>
				<div class="col text-center">
					<input type="submit" />
				</div>
				<div class="col-4"></div>
			</div>
			<button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#extrasearch" aria-expanded="false" aria-controls="extrasearch">Toggle additional query fields</button>
			<a class="btn btn-dark float-right" role="button" href="{% url 'data-table-adv' %}">Reset search form</a>
			<div class="collapse" id="extrasearch">
				<div class="form-row mt-4">
					<div class="col"></div>
					<div class="col-3 text-center">
						{{ advancedsearch.form.support|as_crispy_field}}
					</div> 
					<div class="col-1 text-center">
						{{ advancedsearch.form.medium|as_crispy_field}}
					</div>
					<div class="col-2 text-center">
						{{ advancedsearch.form.sampled|as_crispy_field}}
					</div>
					<div class="col-2 text-center">
						{{ advancedsearch.form.microscopy|as_crispy_field}}
					</div>
					<div class="col-2 text-center">
						{{ advancedsearch.form.elem_analysis|as_crispy_field}}
					</div>
					<div class="col"></div>
				</div>
			</div>
		</form>		
	</div>
</div>

<div class="row mt-3 mb-3 p-3">
	<!-- Amount of results -->
	<div class="col text-left align-self-center">
		<h5>{{ results }} results</h5>
	</div>
	<!-- Export function -->
	<div class="col text-right align-self-center">
		<a href="{% url 'csv-export-adv' %}?{{request.GET.urlencode}}"><button type="button" class="btn btn-outline-info">Export to CSV</button></a>
	</div>	
</div>


<!-- This generates a table for all the results -->
<table class="table table-condensed table-hover table-striped">
	<thead>
		<tr>
			<!-- Headings -->
			<th>ID</th>
			<th>Title</th>
			<th>Artist</th>
			<th>Date</th>
			<th>Place of Execution</th>
			<th>No. of Ground Layers</th>
			<th>Colour-code</th>
			{% if 'toplayervis' in request.GET %}
				<th>Top layer</th>
			{% else %}
				<th>Layers</th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
		{% for artwork in advancedsearch.qs %}
			<tr>
				<!-- Loop that inserts data per row -->
				<td>{{ artwork.id }}</td>
				<td><a href="{% url 'data-detail' artwork.id %}">{{ artwork.title }}</a></td>
				{% if artwork.artist2.full_name %}
					<td>{{ artwork.artist_validity}} <a href="{% url 'artists-detail' artwork.artist1.id %}">{{ artwork.artist1.full_name }} </a> & <a href="{% url 'artists-detail' artwork.artist2.id %}">{{ artwork.artist2.full_name }}</a></td>
				{% else %}
					<td>{{ artwork.artist_validity}} <a href="{% url 'artists-detail' artwork.artist1.id %}">{{ artwork.artist1.full_name }} </a></td>
				{% endif %}
				{% if artwork.date2 %}
					<td>{{ artwork.date_validity }} {{ artwork.date1 }} - {{ artwork.date2 }}</td>
				{% else %}
					<td>{{ artwork.date_validity}} {{artwork.date1 }}</td>
				{% endif %}			
				<td><a href="{% url 'city-of-execution-detail' artwork.place_of_execution.city %}">{{ artwork.place_of_execution }}</a></td>
				<td>{{ artwork.data.no_of_grounds }}</td>
				<td>{{ artwork.data.colour_code}}</td>
				{% if 'toplayervis' in request.GET %}		
					<td>
						{% if artwork.data.layer3_colour %}
							<div style="background-color: {{ artwork.data.layer3_colour.hex_code }} ; padding: 10px;  border: 1px solid black;"></div>
						{% elif artwork.data.layer2_colour %}
							<div style="background-color: {{ artwork.data.layer2_colour.hex_code }} ; padding: 10px;  border: 1px solid black;"></div>
						{% else %}
							<div style="background-color: {{ artwork.data.layer1_colour.hex_code }} ; padding: 10px;  border: 1px solid black;"></div>
						{% endif %}
					</td>
				{% else %}
					<td>
						{% if artwork.data.no_of_grounds == '1' %}
							<div style="background-color: {{ artwork.data.layer1_colour.hex_code }} ; padding: 10px;  border: 1px solid black;"></div>
						{% elif artwork.data.no_of_grounds == '2' %}
							<div style=" border: 1px solid black;">
								<div style="background-color: {{ artwork.data.layer2_colour.hex_code }} ; padding: 10px; margin-bottom:0;"></div>
								<div style="background-color: {{ artwork.data.layer1_colour.hex_code }} ; padding: 10px; margin:0; padding-top:10;"></div>
							</div>
							
						{% elif artwork.data.no_of_grounds == '3' %}
							<div style=" border: 1px solid black;">
								<div style="background-color: {{ artwork.data.layer3_colour.hex_code }} ; padding: 10px; margin-bottom:0;"></div>
								<div style="background-color: {{ artwork.data.layer2_colour.hex_code }} ; padding: 10px; margin:0; padding-top:10;"></div>
								<div style="background-color: {{ artwork.data.layer1_colour.hex_code }} ; padding: 10px; margin:0; padding-top:10;"></div>
							</div>

						{% else %}
							<div style=" border: 1px solid black;">
								<div style="background-color: {{ artwork.data.layer2_colour.hex_code }} ; padding: 10px; margin-bottom:0;"></div>
								<div style="background-color: {{ artwork.data.layer1_colour.hex_code }} ; padding: 10px; margin:0; padding-top:10;"></div>
							</div>
						{% endif %}
					</td>
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock content %}