{% extends 'data/base.html' %}

{% load crispy_forms_tags %}

<!-- Title of the page -->
{% block title%}
Simple Search
{% endblock title%}

{% block main_class %}container-fluid px-0{% endblock %}

{% block content%}

<!-- Header at the top -->
<div class="page-header page-header--light">
	<div class="page-header__inner">
		<h1 class="display-4 page-header__title">Simple Search</h1>
		<p class="page-header__subtitle">Simple Queries</p>
	</div>
</div>
<div class="page-width-wide">
<div class="d-flex justify-content-between mt-3 mb-2">
	<a class="btn btn-outline-secondary btn-sm" role="button" href="{% url 'data-table-adv' %}">Switch to Advanced Search</a>
	<button class="btn btn-outline-secondary btn-sm" type="button" data-toggle="collapse" data-target="#simplesearch" aria-expanded="false" aria-controls="simplesearch">Toggle search form visibility</button>
</div>

<!-- Simple search function -->
<div class="collapse show" id="simplesearch">
	<div class="content-panel page-width-wide mt-3">
		<h4 class="text-center">Simple Search</h4><hr>
		<form>
			<div class="form-row">
				<div class="col-4">
					<label class="form-label-custom">Artist</label>
					<input class="form-control" type="search" name="artist" placeholder="Artist" aria-label="search">
				</div>
				<div class="col-2">
					<label class="form-label-custom">Date range</label>
					<input class="form-control" type="search" name="date1" placeholder="After" aria-label="search">
				</div>
				<div class="col-2">									
					<label class="form-label-custom">&nbsp;</label>
					<input class="form-control" type="search" name="date2" placeholder="Before" aria-label="search">
				</div>
				<div class="col-3">
					<label class="form-label-custom">Place of Execution</label>
					<input class="form-control" type="search" name="city" placeholder="City of execution" aria-label="search">
				</div>
				<div class="col-1">
					<label class="form-label-custom">#Grounds</label>
					<div class="form-group">
						<select class="form-control" id="no_of_grounds" name="no_of_grounds">
							<option></option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
							<option>>10</option>
						</select>
					</div>
				</div>
			</div>
			<div class="form-row">
			    <div class="col-2 text-left">
		        <label class="form-label-custom">Support</label>
			        <div class="form-group">
			            <select class="form-control" id="support" name="support">
			                <option>any</option>
			                <option>panel</option>
			                <option>canvas</option>
			                <option>other</option>
			                <option>unknown</option>
			            </select>
			        </div>
			    </div>
			    <div class="col-5">
				<label class="form-label-custom">Artist active in</label>
					<input class="form-control" type="search" name="active" placeholder="Artist active in" aria-label="search">
				</div>
			    <div class="col"></div>
			    <div class="col-2 text-left">
		        <label class="form-label-custom">Sort by</label>
			        <div class="form-group">
			            <select class="form-control" id="sortby" name="sortby">
			                <option>ID</option>
			                <option>Title</option>
			                <option>Artist</option>
			                <option>Date</option>
			                <option>Place of execution</option>
			                <option># grounds</option>
			                <option>Lowest ground</option>
			                <option>Uppermost ground</option>
			            </select>
			        </div>
			    </div>
			    <div class="col"></div>
			    <div class="col-2 text-center">
		        <label class="form-label-custom">Toggle top layer</label>
			        {% if 'toplayervis' in request.GET %}
			            <input class = "form-control" type="checkbox" name="toplayervis" aria-label checked>
			        {% else %}
			            <input class = "form-control" type="checkbox" name="toplayervis" aria-label>
			        {% endif %}
			    </div>
			</div>
			<div class="text-left"><button class="btn btn-dark" type="submit">Search</button></div>
		</form>		
	</div>
</div>


<div class="query-results-bar mt-3 mb-3">
	<!-- Amount of results -->
	<span class="query-results-bar__count">{{ results }} results</span>
	<!-- Export function -->
	<a href="{% url 'csv-export-simple' %}?{{request.GET.urlencode}}"><button type="button" class="btn btn-outline-secondary btn-sm">Export to CSV</button></a>
</div>


<!-- This generates a table for all the results -->
<table class="table table-condensed table-hover table-striped data-table">
	<thead>
		<tr>
			<!--<th></th>-->
			<th>ID</th>
			<th>Title</th>
			<th>Artist</th>
			<th>Date</th>
			<th>Place of Execution</th>
			<th>No. of Ground Layers</th>
			<th>Colour-code</th>
			{% if 'toplayervis' in request.GET %}
				<th>Top layer</th>
			{% else %}
				<th>Layers</th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
		{% for artwork in artworks %}
			<tr>
				<!--<td><a href="{{ artwork.image.url }}"><img class="img-responsive" src="{{ artwork.image.url }}"></a></td>-->
				<td>{{ artwork.id }}</td>
				<td><a href="{% url 'data-detail' artwork.id %}">{{ artwork.title }}</a></td>
				{% if artwork.artist2.full_name %}
					<td>{{ artwork.artist_validity}} <a href="{% url 'artists-detail' artwork.artist1.id %}">{{ artwork.artist1.full_name }} </a> & <a href="{% url 'artists-detail' artwork.artist2.id %}">{{ artwork.artist2.full_name }}</a></td>
				{% else %}
					<td>{{ artwork.artist_validity}} <a href="{% url 'artists-detail' artwork.artist1.id %}">{{ artwork.artist1.full_name }} </a></td>
				{% endif %}

				{% if artwork.date2 %}
					<td>{{ artwork.date_validity }} {{ artwork.date1 }} - {{ artwork.date2 }}</td>
				{% else %}
					<td>{{ artwork.date_validity}} {{artwork.date1 }}</td>
				{% endif %}			
				<td><a href="{% url 'city-of-execution-detail' artwork.place_of_execution.city %}">{{ artwork.place_of_execution }}</a></td>
				<td>{{ artwork.data.no_of_grounds }}</td>
				<td>{{ artwork.data.colour_code}}</td>
				{% if 'toplayervis' in request.GET %}		
					<td>
						{% if artwork.data.layer3_colour %}
							<div data-swatch-hex="{{ artwork.data.layer3_colour.hex_code }}" style="padding: 10px; border: 1px solid black;"></div>
						{% elif artwork.data.layer2_colour %}
							<div data-swatch-hex="{{ artwork.data.layer2_colour.hex_code }}" style="padding: 10px; border: 1px solid black;"></div>
						{% else %}
							<div data-swatch-hex="{{ artwork.data.layer1_colour.hex_code }}" style="padding: 10px; border: 1px solid black;"></div>
						{% endif %}
					</td>
				{% else %}
					<td>
						{% if artwork.data.no_of_grounds == '1' %}
							<div data-swatch-hex="{{ artwork.data.layer1_colour.hex_code }}" style="padding: 10px; border: 1px solid black;"></div>
						{% elif artwork.data.no_of_grounds == '2' %}
							<div style=" border: 1px solid black;">
								<div data-swatch-hex="{{ artwork.data.layer2_colour.hex_code }}" style="padding: 10px; margin-bottom:0;"></div>
								<div data-swatch-hex="{{ artwork.data.layer1_colour.hex_code }}" style="padding: 10px; margin:0; padding-top:10;"></div>
							</div>
							
						{% elif artwork.data.no_of_grounds == '3' %}
							<div style=" border: 1px solid black;">
								<div data-swatch-hex="{{ artwork.data.layer3_colour.hex_code }}" style="padding: 10px; margin-bottom:0;"></div>
								<div data-swatch-hex="{{ artwork.data.layer2_colour.hex_code }}" style="padding: 10px; margin:0; padding-top:10;"></div>
								<div data-swatch-hex="{{ artwork.data.layer1_colour.hex_code }}" style="padding: 10px; margin:0; padding-top:10;"></div>
							</div>

						{% else %}
							<div style=" border: 1px solid black;">
								<div data-swatch-hex="{{ artwork.data.layer2_colour.hex_code }}" style="padding: 10px; margin-bottom:0;"></div>
								<div data-swatch-hex="{{ artwork.data.layer1_colour.hex_code }}" style="padding: 10px; margin:0; padding-top:10;"></div>
							</div>
						{% endif %}
					</td>
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>
</div><!-- /.page-width-wide -->
{% endblock content %}
<!-- table pagination? --> 